/*

This file handles everything to do with how everything looks

*/


/* Imports the main font used for titles */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

body{
    overflow: hidden;
}
.libre-franklin{
    font-family: Libre Franklin;
}

/* Styles the different screens (start, rules, character selection, game, finish, execution, shadow */
#start-screen{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 12px;
    top: 0px;
    background-image: url("./assets/images/backgrounds/start_screen.jpg");
    background-size: 100vw 100vh;
}
#rules-screen{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 12px;
    top: 0px;
    background-image: url("./assets/images/backgrounds/rules-screen.jpg");
    background-size: 100vw 100vh;
}
#gameboard-screen{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    background: url("./assets/images/backgrounds/game-screen.jpg");
    background-size: 100vw 100vh;
}
#gameboard{
    position: relative;
    top: 1.25px;
    left: 12px;
}
#shadow-screen{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background: rgba(51,51,51,0.5);
}
#shadow-screen > center > div{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 5vw;
    max-height: 80vh;
    overflow: scroll;
}
#guillotine-screen{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: url("./assets/images/backgrounds/guillotine_screen.gif");
    background-size: 100vw 100vh;
    z-index: 100000000;
}
#guillotine-screen > center{
    background: rgba(254,254,254,0.6);
}
#finish-screen{
    background: url("./assets/images/backgrounds/finish-screen.jpeg");
    background-size: cover;
    height: 100vh;
}

/* Styles the gameboard spaces */
td{
    height: 5vw;
    width: 5vw;
    text-align: center;
}
.space-start{
    background: green;
    color: white;
    border: 1px solid black;
}
.space-start::before{
    content: "Start";
}
.space-popularity-gain{
    background: #65aa65;
    border: 1px solid black;
}
.space-popularity-gain::before{
    content: "+1 P";
}
.space-popularity-lose{
    background: #cf9ba4;
    border: 1px solid black;
}
.space-popularity-lose::before{
    content: "-1 P";
}
.space-task{
    background: #c78100;
    border: 1px solid black;
}
.space-task::before{
    content: "?";
}
.space-wheel{
    background-image: url("./assets/images/backgrounds/wheel-space.png");
    background-size: cover;
    border: 1px solid black;
    background-color: #c9c9c9;
}
.space-event{
    background-size: cover;
    border: 1px solid black;
}
.space-event-liberal-one{
    background-image: url("./assets/images/backgrounds/liberal_event_one.webp");
}
.space-event-liberal-two{
    background-image: url("./assets/images/backgrounds/liberal_event_two.webp");
}
.space-event-liberal-three{
    background-image: url("./assets/images/backgrounds/liberal_event_three.jpg");
}
.space-event-liberal-four{
    background-image: url("./assets/images/backgrounds/liberal_event_four.jpg");
}
.space-split{
    background-image: url("./assets/images/backgrounds/split_space.png");
    background-size: cover !important;
    border: 1px solid black;
}
.space-event-mountains-one{
    background-image: url("./assets/images/backgrounds/mountains_event_one.webp");
}
.space-event-girondins-one{
    background-image: url("./assets/images/backgrounds/girondins_event_one.jpg");
}
.space-event-mountains-two{
    background-image: url("./assets/images/backgrounds/mountains_event_two.webp");
}
.space-event-girondins-two{
    background-image: url("./assets/images/backgrounds/girondins_event_two.webp");
}
.space-finish{
    background: green;
    border: 1px solid black;
}
.space-finish::before{
    color: white;
    content: "Finish!";
}

/* Styles the dice */

#dice-div{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#scoreboard{
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(254,254,254,0.75);
    height: fit-content !important;
    width: fit-content !important;
}

#dice-div > center > p{
    background: rgba(254,254,254,0.5) !important;
}

#dice{
    width: 5vw;
    height: 5vw;
    color: white;
}

/* Styles the player */

.player{
    position: absolute;
    width: 3vw;
    height: 3vw;
}

.player-img{
    max-height: 3vw;
    max-width: 3vw;
    border: 3px solid white;
}

/* Styles the geography task image */

.geography-image{
    height: 30vh;
}

/* Dice roll animation */

.dice-spin{
    animation: diceSpin 0.5s 1;
}

@keyframes diceSpin{
    0% {transform: rotate(0deg)}
    100% {transform: rotate(1080deg)}
}

#finish-screen > center > p{
    background: rgba(254,254,254,0.25);
}

.message{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: fit-content;
    height: fit-content !important;
    z-index: 8;
}



.character-img{
    height: 4.75vw;
    padding: 2.5px;
}

#character-screen{
    background: url("./assets/images/backgrounds/character-screen.jpg");
    background-size: cover;
    height: 100vh;
}
#character-selection-img{
    max-width: 30vw;
    max-height: 80vh;
    height: 80vh;
    object-fit: cover;
}

#controller-connected-icon{
    position: absolute;
    right: 20px;
    bottom: 20px;
    vertical-align: center;
}
#controller-disconnected-icon{
    position: absolute;
    right: 20px;
    bottom: 20px;
    vertical-align: center;
}

div.shade{
    position: absolute;
    border: 3px solid gray;
    background: rgba(138,138,138,0.4);
}

#stats-div{
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.x::before{
    content: "\24CD";
    font-weight: bold;
}
.y::before{
    content: "\24CE";
    font-weight: bold;
}
.a::before{
    content: "\24B6";
    font-weight: bold;
}
.b::before{
    content: "\24B7";
    font-weight: bold;
}

#mouse{
    background-image: url("./assets/images/backgrounds/mouse.png");
    background-size: cover;
    width: 32px;
    height: 48px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1000;
}

.dpad-left{
    background-image: url("./assets/images/backgrounds/dpad-left.png");
    background-size: cover;
    width: 20px;
    height: 20px;
}
.dpad-right{
    background-image: url("./assets/images/backgrounds/dpad-right.png");
    background-size: cover;
    width: 20px;
    height: 20px;
}
.dpad-top{
    background-image: url("./assets/images/backgrounds/dpad-top.png");
    background-size: cover;
    width: 20px;
    height: 20px;
}
.dpad-bottom{
    background-image: url("./assets/images/backgrounds/dpad-bottom.png");
    background-size: cover;
    width: 20px;
    height: 20px;
}

.player-mountain{
    border: 3px solid red;
}

.player-girondin{
    border: 3px solid cyan;
}

.current-player{
    border: 3px solid yellow !important;
}
